# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

#MY STUFF
run/
lib/
eclipse/
out/
src/api/java/computercraft stuff